:root {
    --branco: #ffffff;
    --cinza-escuro: #283848;
    --cinza-claro: #4E657B;
    --azul:#2693FF;

}

body {
    font-family: 'SVN-Gilroy', sans-serif;
    height: 100vh;
    width: 100vw;
    
}

.container{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
   
}

.avatar{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    align-items: center;
    margin-top: 2rem;
    
}

.avatar__nome{
    color: var(--cinza-escuro);
    font-size: 15px;
    font-weight: 600;
}

.avatar__prof{
    color: var(--azul);
    font-size: 12px;
    font-weight: 600;
}

.menu__nav{
  grid-column: 1;
  grid-row: 1 / 3;
 }

.menu{
    background-image: url("../images/retangulo2.png");
    height: 100vh;
    
}

.menu__logo{
 width: 50%;
 margin-left: 2rem;
 margin-top: 1rem;
}
.menu__dash{
    margin-top: 15rem;
}
.submenu__dash{
    display: none;
    background-color: #F4FBFF;
    margin-left: 15rem;
    margin-top: -10rem;
    position: absolute;
    height: 100%;
    width: 10%;
   
}

.submenu__dash--titulo{
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 4rem;
}

.submenu__dash--link{
    color: var(--cinza-escuro);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    
    
    
}


.submenu__dash--link::before{
    content: url('../images/seta.svg');
    padding: .75rem; 
   

}

.submenu__dash--link:hover{
    color: var(--azul);
}

.bloco{
    box-sizing: border-box;
    width:135px;
    height: 83px;
    border: 1px solid #46A3FF;
    margin-left: 1.5rem;
    
   
}

.bloco:hover{
    background-color: #1182F2;
}

.menu__img{
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.menu__titulo{
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: var(--branco);
    margin-left: 2rem;
    
}
.tarefas{
    margin-left: 2rem;
}

.todo{
    grid-column: 2;
    grid-row: 2;
    background-color: #E9F4FB ;
}

.todo__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.todo__titulo{
    font-size: 26px;
    color: var(--cinza-escuro);
    font-weight: 700;
    margin-right: 28rem;
    margin-bottom: .5rem;
}

.todo__frase{
    font-size: 17px;
    font-weight: 600;
    color: var(--cinza-claro);
    margin-right:14rem;
    margin-bottom: 2rem;
}

.todo__frase--color{
    color: var(--azul);
}
.todo__frase--color--sub{
    color: var(--azul);
    text-decoration: underline;
}

.todo__pesquisa{
    width: 633px;
    height: 51px;
    border: 2px solid #BFDAEB;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.todo__pesquisa::placeholder{
    color: #A6C1D2;
    font-size: 17px;
    font-weight: 600;
    padding: 0.5rem;
    
}
.btn__pesquisa{
    border: none;
    background-color: transparent;
    position: absolute;
    margin-top: 6rem;
    margin-left: 35rem;
    cursor: pointer;
}

.btn__adicionarTarefa{
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;;
}

.modal {
    position: fixed;
    top: 15%;
    right: 30%;
    bottom:15%;
    left: 30%;
    box-sizing: border-box;
    border-radius: 5px;
    background: var(--branco);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }

  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
  }

  .fechar {
    position: absolute;
    width: 30px;
    right: -3px;
    top: -5px;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    color:var(--cinza-claro);
    text-decoration: none;
  }

  .form__modal{
    display: flex;
    flex-direction: column;
  }

  .form__modal--labelTarefa{
    margin: 2rem 2rem;
    font-size: 25px;
    font-weight: 700;
    color: var(--cinza-escuro);
  }

  .form__modal--inputTarefa{
    height: 50px;
    width: 578px;
    border-radius: 5px;
    border: 2px solid #BFDAEB;
    margin-left: 2rem;
    margin-top: 2rem;

  }

  .form__modal--labelDescricao{
    color: var(--cinza-claro);
    font-weight: 600;
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .form__modal--label{
    color: var(--cinza-claro);
    font-weight: 600;
    font-size: 14px;
    margin-top: 1rem;
  }

  .form__modal--inputDescricao{
    height: 183px;
    width: 578px;
    border-radius: 5px;
    border: 2px solid #BFDAEB;
    margin-left: 2rem;
    margin-top: 1rem;

  }

  .form__modal--footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn__formModal{
    height: 47px;
    width: 118.31428527832031px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    color: var(--branco);
    background-color: #A6C1D2;
    font-weight: 600;
  }

  .btn__formModal:hover{
    background-color: #16D08D;
    cursor: pointer;
  }

  .form__modal--inputRadio{
    width: 24px;
    border: 2px solid #BFDAEB;
    border-radius: 5px;
  }

  .item{
    margin-top: 2rem;
    box-sizing: border-box;
    background-color:var(--branco) ;
    height: 64px;
    width: 633px;
    border-radius: 5px;
    color:var(--cinza-escuro);
    font-weight: 600;
    padding: 1.5rem 4rem;

  }

  .checkbox {
    height: 32px;
    width: 33px;
    border-radius: 3px;
    background-color:#E2EEF5;
    position: absolute;
    margin-top: -3rem;
    margin-left: .75rem;
  }


  .btn__tarefa{
    background-image: url('../images/Group\ 49.svg');
    border: none;
    width: 15px;
    position: absolute;
    margin-top: -2rem;
    margin-left: 38rem;
    transform: rotate(90deg);
    cursor: pointer;
  }

  .prioridadeUrgente {
   background-color: #FF2E79 ;
   border-radius: 3px;
   color: var(--branco);
   font-size: 11px;
   font-weight: 700;
   position: absolute;
   margin-top: -2rem;
   margin-left: 30rem;
  }

  .prioridadeImportante {
    background-color: #FFC42E ;
    border-radius: 3px;
    color: var(--branco);
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    margin-top: -2rem;
    margin-left: 30rem;
   }

   
